# Unity3D .gitignore file.
# Store this file at the root of your local repository.

# From Unity3D
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Ll]ogs/
*.pidb
*.DS_Store



# From Visual Studio
[Oo]bj/
*.csproj
*.sln
*.suo
*.user
*.sln.docstates
.vs/


# From ?
*.unityproj

FutileDev/
FutileDev.meta