Library/
Temp/
Output/
BananaDemoProject.sln
BananaDemoProject-csharp.sln
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass-vs.csproj
BananaDemoProject.userprefs
Assembly-CSharp.pidb
Assembly-CSharp-firstpass.pidb
*.DS_Store